body{
    background-image: url("/images/library.jpg");
}
.heading {
    display: flex;
    align-items: center; /* Vertically center the text */
    justify-content: center;
    height: 14vh;
    font-size: 12vh;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold; /* Make the font bold */
    background-color: rgb(196, 84, 84); /* Add the background color */
  }
  
.logout {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #45a049;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}

.logout:hover {
    background-color: #bf4138;
}
.changecred{
    left:10px;
    background-color: white;
    padding: 10px 20px;
    border:none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}
.changecred:hover{
    background-color: gray;
}


.allcards {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
  }
  
  .cards {
    list-style: none;
    display: flex;
    justify-content: center; 
    flex-wrap: wrap; 
    max-width: 600px;
  }
  
  .cards li {
    cursor: pointer;
    background-color: #FF5722;
    color: #fff;
    text-align: center;
    padding: 20px;
    border: none;
    box-shadow: none;
    width: 200px;
    height: 80px;
    font-size: 20px;
    line-height: 1.5;
    -webkit-perspective: 230px;
    perspective: 230px;
    border-radius: 5px;
    margin: 10px; 
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .cards li:before,
.cards li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #FBC02D;
  z-index: -1;
  transition: width 0.3s;
}

.cards li:hover:before {
  width: 100%;
}

.cards li:hover:after {
  width: 100%;
  transition-delay: 0.3s;
}

.cards li:hover {
  transform: translateY(-5px);
}