body{
    background-image: url("/images/viewbooks.jpg");
    background-size: cover;
}
.home-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #bf4138;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
}

.home-button:hover {
    background-color: #45a049;
}
.heading{
    display: flex;
    text-align: center;
    justify-content: center;
    height: 14vh;
    font-size: 12vh;
    font-style: italic;
    color:white;
}
.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
    text-align: center;
  }
  .book-table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 80%;
    max-width: 800px;
}

.book-table th,
.book-table td {
    padding: 12px;
    text-align: center;
}

.book-table th {
    background-color: #4CAF50;
    color: white;
}

.book-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.book-table tr:nth-child(odd) {
    background-color: #d3e0dc;
}

.book-table tr:hover {
    background-color: #f5b618;
}
